@page
@model BIB.FC.Web.Pages.DemoModel
@{
}

<!-- Trecho da Step 3-->
<div class="form-group col-xs-12 col-md-3">
    <label for="uf-end-comercial" class="form-label form-control-sm">ENDEREÇO P/ CORRESPONDÊNCIA*</label>
    <div class="d-flex flex-row flex-nowrap align-self-center justify-content-lg-start">
        <div class="form-check flex-fill">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="S" checked="">
            <label class="form-check-label" for="exampleRadios1">
                Residencial
            </label>
        </div>
        <div class="form-check flex-fill">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="N">
            <label class="form-check-label" for="exampleRadios2">
                Comercial
            </label>
        </div>
    </div>
</div>