@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";    
}

<div class="text-center">



    <a class="nav-link text-dark" asp-page="/TempData_Sample">TempData Sample</a>

    <div>
        <button id="btnStep1" type="submit" asp-page-handler="TempDataSample" class="btn btn-primary">
            Validar
        </button>      
    </div>

</div>

@if (ViewData["Message"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert('@ViewData["Message"]');
        };
    </script>
}
