@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <a class="nav-link text-dark" asp-page="/TempData_Sample">TempData Sample testando 123</a>
    <form method="post">
        <div>
            <button id="btnStep1" type="submit" asp-page-handler="TempDataSample" class="btn btn-primary">
                Bind Sandbox
            </button>
        </div>
    </form>
</div>


@if (ViewData["Message"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert('@ViewData["Message"]');
        };
    </script>
}
