@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
</style>

<div class="text-center">

    <a class="nav-link text-dark" asp-page="/TempData_Sample">TempData Sample</a>

    <form method="post">
        <div>
            <button id="btnStep1" type="submit" asp-page-handler="Step1" class="btn btn-primary">
                Step1
            </button>
            <button id="btnStep1" type="submit" asp-page-handler="Step2" class="btn btn-primary">
                Step2
            </button>
            <button id="btnStep1" type="submit" asp-page-handler="Step3" class="btn btn-primary">
                Step3
            </button>
        </div>
        <div class="d-flex flex-row bd-highlight mb-3">
            <div class="p-2 bg-warning" style="display:@Model.LocalSteps.Step1">Step 1</div>
            <div class="p-2 bg-success" style="display:@Model.LocalSteps.Step2">Step 2</div>
            <div class="p-2 bg-warning" style="display:@Model.LocalSteps.Step3">Step 3</div>
        </div>
    </form>
</div>

<form id="form-1" method="post" data-ajax="true" data-ajax-method="post" data-ajax-complete="completed">
    <div class="d-flex flex-row bd-highlight mb-3">
        <div class="p-2 bg-warning">
            Name: <input type="text" name="name" id="Idname"  /><br>
        </div>
        <div class="p-2 bg-warning">
            <input type="submit" class="btn btn-primary" />
        </div>
    </div>
</form>

<form id="form-2" method="post" data-ajax="true" data-ajax-method="post" data-ajax-complete="completed">
    <div class="d-flex flex-row bd-highlight mb-3">
        <div class="p-2 bg-success">
            Dado: <input type="text" name="dado" id="idDado"  /><br>
        </div>
        <div class="p-2 bg-success">
            <input type="submit" class="btn btn-primary" />
        </div>
    </div>
</form>

@section scripts{

    <script>
        completed = function (xhr) {
           console.log(xhr.responseText);
        };
    </script>
}

@if (ViewData["Message"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert('@ViewData["Message"]');
        };
    </script>
}
