@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";    
}

<div class="text-center">

    <a class="nav-link text-dark" asp-page="/OutraPagina">Enviando objeto Movie para outra página</a>

</div>

@if (ViewData["Message"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert('@ViewData["Message"]');
        };
    </script>
}
