@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <a class="nav-link text-dark" asp-page="/TempData_Sample">TempData Sample</a>

    <form method="post">
        <div>
            <button id="btnStep1" type="submit" asp-page-handler="Step1" class="btn btn-primary">
                Step1
            </button>
            <button id="btnStep1" type="submit" asp-page-handler="Step2" class="btn btn-primary">
                Step2
            </button>
            <button id="btnStep1" type="submit" asp-page-handler="Step3" class="btn btn-primary">
                Step3
            </button>
        </div>
        <div class="d-flex flex-row bd-highlight mb-3">           
            <div class="p-2 bd-highlight" style="display:@Model.LocalSteps.Step1">Flex item 1</div>
            <div class="p-2 bd-highlight" style="display:@Model.LocalSteps.Step2">Flex item 2</div>
            <div class="p-2 bd-highlight" style="display:@Model.LocalSteps.Step3">Flex item 3</div>
        </div>
    </form>
</div>

@if (ViewData["Message"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert('@ViewData["Message"]');
        };
    </script>
}
